<div class="hosts-page">
    <div class="header">
        <input type="text" placeholder="Pesquisar por IP ou host..." [(ngModel)]="search" (input)="filterHosts()" />
        <button class="new-host-btn" (click)="novoGrupoHost()">Novo Grupo</button>
    </div>

    <div class="host-list">
        <div class="table-container" *ngFor="let grupo of filteredHosts">
            <div class="group-header">
                <span>
                    {{ grupo.titulo }}
                    <span class="badge" [ngStyle]="{ 'background-color': grupo.corExadecimal }">
                        {{ grupo.corExadecimal }}
                    </span>
                </span>
                <span class="switch-container">
                    <label class="switch" style="gap: 0.5rem;">
                        <input type="checkbox" (ngModel)="grupoAtivo(grupo)" (click)="ligaDesligaGrupo(grupo)">
                        <span class="slider round"></span>
                    </label>
                    <button class="btn btn-sm btn-outline-secondary" (click)="addNovoHost(grupo)">
                        Novo Host
                    </button>
                </span>
            </div>

            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr *ngFor="let host of grupo.hosts">
                        <td class="align-items-center gap-2">
                            <div class="switch-container">
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="host.onOff"
                                        (click)="ligaDesligaHost(host, grupo.titulo)">
                                    <span class="slider round"></span>
                                </label>

                                <i class="bi" [ngClass]="{
                                'bi-lightbulb-fill': host.onOff,
                                'bi-lightbulb': !host.onOff,
                                'lamp-on': host.onOff
                                }"></i>
                            </div>

                        </td>
                        <td>{{ host.ip }}</td>
                        <td style="justify-content: start; display: flex">{{ host.nmHost }}</td>
                        <td><span class="badge" [ngStyle]="{ 'background-color': host.corExadecimal }"
                                style="color: black;">{{ host.comentario }}</span></td>
                        <td>
                            <button class="btn btn-sm btn-outline-info" (click)="editarHost(host)">
                                ✏️
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<app-error-modal [modalTitleErr]="modalTitle" [mensagemErr]="mensagemErro" (onClose)="loadHosts()"
    #erroModal></app-error-modal>