.hosts-page {
  padding: 20px;
  color: var(--text-color);
  min-height: calc(100vh - 60px); // espaço para navbar
  background-color: var(--bg-color);

  .header {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    input {
      flex: 1;
      padding: 8px 12px;
      border-radius: 8px;
      border: 1px solid #ccc;
      background-color: var(--card-bg);
      color: var(--text-color);
    }

    .new-host-btn {
      padding: 8px 16px;
      border: none;
      border-radius: 8px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .host-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

  }

  .table-container {
    margin-bottom: 2rem;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--border-color);
  }

  .group-header {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent !important; // remove fundo
    border-bottom: 1px solid var(--border-color);
  }

  .badge {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    padding: 0.25em 0.5em;
    border-radius: 0.5rem;
    color: #000;
    background-color: #ccc;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th,
    td {
      text-align: center;
      padding: 0.75rem;
      vertical-align: middle;
      border-top: 1px solid var(--border-color);
      background-color: var(--bg-table);
      color: var(--text-color);
    }

    th {
      background-color: var(--bg-header);
      font-weight: 600;
    }

    td {
      border-bottom: none;
    }

    tr {
      cursor: pointer;
    }
  }

  .btn {
    border-radius: 0.5rem;
  }

  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center; // alinha verticalmente
    gap: 0.5rem;
  }

  /* Lâmpada */
  .bi-lightbulb,
  .bi-lightbulb-fill {
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    opacity: 0.6;
  }

  .lamp-on {
    color: #f8e45c;
    /* tom pastel amarelo */
    text-shadow: 0 0 6px #f8e45c;
    opacity: 1;
  }

}