<div #modalNovoHost class="modal fade" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white py-2">
        <h5 class="modal-title" id="modalLabel">
          {{ modoEdicao ? 'Editar Host' : 'Novo Host' }}
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="fecharModal()" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <div class="d-flex align-items-center gap-2 mb-2">
          <i class="bi" [ngClass]="{
          'bi-lightbulb-fill': host.onOff,
          'bi-lightbulb': !host.onOff,
          'lamp-on': host.onOff
          }"></i>

          <label class="switch" style="gap: 0.5rem;">
            <input type="checkbox" [(ngModel)]="host.onOff" id="ativoSwitch" [disabled]="host.padraoLinear">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="mb-2">
          <label for="ip" class="form-label">IP</label>
          <input type="text" class="form-control" [(ngModel)]="host.ip" placeholder="xxx.xxx.xxx.xxx" [disabled]="host.padraoLinear">
        </div>

        <div class="mb-2">
          <label for="nmHost" class="form-label">Host</label>
          <input type="text" class="form-control" [(ngModel)]="host.nmHost">
        </div>

        <div class="mb-2">
          <label for="comentario" class="form-label">Comentário</label>
          <input type="text" class="form-control" maxlength="15" [(ngModel)]="host.comentario" [disabled]="host.padraoLinear">
        </div>

        <div class="mb-2 d-flex align-items-center justify-content-between gap-3">
          <div style="flex: 1">
            <label class="form-label">Cor</label>
            <input type="color" class="form-control form-control-color" [(ngModel)]="host.corExadecimal" [disabled]="host.padraoLinear">
          </div>
        </div>

        <div class="mb-2 d-flex align-items-center justify-content-between gap-3">
          <button class="btn btn-success" (click)="salvar()">Salvar</button>
          <button *ngIf="modoEdicao" type="button" class="btn btn-danger" (click)="excluirHost()">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-error-modal [modalTitleErr]="modalTitle" [mensagemErr]="mensagemErro" #erroModal></app-error-modal>

<app-modal-confirmacao [modalTitle]="'Excluir Host'" [mensagem]="'Tem certeza que deseja excluir este host?'"
  (onConfirm)="onConfirmarExclusao()" #modalConfirmacao></app-modal-confirmacao>