.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-bg);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.title-sistem {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;

  .enter-icon {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  i {
    font-size: 2rem;
    // margin-bottom: 12px;
  }

  span {
    font-size: 14px;
    font-weight: 500;
  }

  &:hover {
    transform: scale(1.05);
    //box-shadow: 0 4px 12px var(--hover-shadow);
  }

  //TODO criar animação
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 0;
  //   height: 0;
  //   color: #fff;
  //   -webkit-text-stroker: 0vh 
  // }
}

.btn-tema {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    transition: color 0.4s ease, transform 0.4s ease;
    will-change: transform, color;
  }

  &:hover i {
    transform: rotate(20deg) scale(1.2);
    filter: brightness(1.2);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
  }
}
